@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f0f0; /* A light grey for contrast */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.opa-1{
  opacity: 1 !important;
}